flask>=0.12.0,<1.0.0
flask-cors>=3.0.0,<4.0.0
flask-session>=0.3.0,<1.0.0
flask-jsonpify>=1.5.0,<2.0.0
flask-oauthlib>=0.9.4,<1.0.0
pyyaml
boto
requests
pyjwt
sqlalchemy
psycopg2
cryptography
elasticsearch>=5.0.0,<6.0.0
os-api-cache>=0.0.7
os-package-registry>=0.0.18
datapackage-pipelines-aws
datapackage-pipelines[speedup]>=2,<3
datapackage-pipelines-fiscal>=1.2.4
os-dpp-runner>=0.1.0
raven==6.0.0
blinker>=1.1
python-dotenv
gunicorn
python-memcached
