flask
flask-cors
flask-session
flask-jsonpify
flask-oauthlib
pyyaml
boto
requests
pyjwt
sqlalchemy
psycopg2
cryptography
elasticsearch>=1.0.0,<2.0.0
os-api-cache>=0.0.6
os-package-registry>=0.0.13
datapackage-pipelines-fiscal>=1.0.7
datapackage-pipelines-aws
datapackage-pipelines[speedup]
dpp_runner
raven==6.0.0
blinker>=1.1
python-dotenv
gunicorn
python-memcached
